*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body{
position: relative;
}
.logo a{
 
   display: block;
    margin-top: 40px;

}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
}

nav {
    /* background-color: rgb(131, 131, 165); */
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 25px  30px;
}

nav ul li a {
    font-weight: 700;
    color: black;
    font-size: 16px
}


nav ul li a:hover{
color:rgb(11, 163, 156) ;
}



nav ul li  .active{
    color:rgb(11, 163, 156) ;
}


/* ////////////////////////// */


.main-1{
    background-image: url(./images/the-beacon.jpg);
    width: 100%;
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}

.text{
    /* background-color: antiquewhite; */
    text-align: right;
    min-height: 60vh;

    
}


.text h3{
    background-color: #ffffff;
    display: inline-block;

    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 140px;
    font-size: 28px;
    padding: 10px;
}



.main-1 .brag{
    /* background-color: aquamarine; */
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.text p{
    color: #ffffff;
    background-color: rgb(37, 37, 37);
    margin-right: 155px;
    padding: 10px;
    font-size: 20px;
 
}

.link a{
    margin-right: 450px;
    background-color: rgb(11, 163, 156);
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
    padding: 15px;
    font-size: 17px;
}

.link a:hover{

    background-color:rgb(31, 195, 188) ;
}



.main-3{
    margin-top: 40px;
}




.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 20px;
    text-align: center;

}

.image-1 , .image-2 , .image-3{
        opacity: .9;
    transition: .3s;
}

.image-1:hover{
    opacity: 1;
}


.image-2:hover{
    opacity: 1;
}


.image-3:hover{
    opacity: 1;
}

.images img{
    border: 1px solid #000;
}

footer{
    background-color: rgb(37, 37, 37);
    color: #ffffff;
    height: 50px;
}